#Options +FollowSymlinks
RewriteEngine On

#RewriteCond %{HTTP_HOST} ^www.belote-gasy\.com [NC]
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://www.belote-gasy.com/$1 [R,L]

RewriteCond %{HTTPS} on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

RewriteRule ^connect$ /page/get_user.php [L]
RewriteRule ^room$ /page/room.php [L]
RewriteRule ^load-table /page/create_table.php [L]
RewriteRule ^game$ /page/game.php [L]