Options +FollowSymlinks
RewriteEngine On

RewriteRule ^connect$ /page/get_user.php [L]
RewriteRule ^room$ /page/room.php [L]
RewriteRule ^load-table /page/create_table.php [L]
RewriteRule ^game$ /page/game.php [L]